<?xml version="1.0" encoding="UTF-8"?>
<document name="collectionobjects">
  <ns2:collectionobjects_common xmlns:ns2="http://collectionspace.org/services/collectionobject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <objectNumber><%= data[:id] %></objectNumber>
    <numberOfObjects><%= data[:count] %></numberOfObjects>
    <titleGroupList>
      <titleGroup>
        <title><%= data[:title] %></title>
        <titleType/>
        <titleTranslationSubGroupList>
          <titleTranslationSubGroup>
            <titleTranslationLanguage>urn:cspace:core.collectionspace.org:vocabularies:name(languages):item:name(eng)'English'</titleTranslationLanguage>
            <titleTranslation/>
          </titleTranslationSubGroup>
        </titleTranslationSubGroupList>
        <titleLanguage>urn:cspace:core.collectionspace.org:vocabularies:name(languages):item:name(eng)'English'</titleLanguage>
      </titleGroup>
    </titleGroupList>
    <objectNameList>
<% data[:objects].split(",").map(&:strip).each do |object| %>
      <objectNameGroup>
        <objectName><%= object %></objectName>
      </objectNameGroup>
<% end %>
    </objectNameList>
    <briefDescriptions>
      <briefDescription><%= data[:desc_brief] %></briefDescription>
    </briefDescriptions>
    <contentDescription><%= data[:desc_full] %></contentDescription>
    <physicalDescription><%= data[:desc_phys] %></physicalDescription>
    <comments>
      <comment><%= data[:comment] %></comment>
    </comments>
    <styles>
<% data[:styles].split(",").map(&:strip).each do |style| %>
      <style><%= style %></style>
<% end %>
    </styles>
    <colors>
<% data[:colors].split(",").map(&:strip).each do |color| %>
      <color><%= color %></color>
<% end %>
    </colors>
    <contentLanguages>
      <contentLanguage>urn:cspace:core.collectionspace.org:vocabularies:name(languages):item:name(eng)'English'</contentLanguage>
    </contentLanguages>
    <recordStatus><%= data[:status] %></recordStatus>
    <objectProductionDateGroupList>
      <objectProductionDateGroup>
        <dateDisplayDate><%= data[:date_display] %></dateDisplayDate>
        <dateEarliestSingleYear><%= data[:date_earliest] %></dateEarliestSingleYear>
        <dateLatestYear><%= data[:date_latest] %></dateLatestYear>
        <datePeriod><%= data[:date_period] %></datePeriod>
        <dateEarliestSingleEra>urn:cspace:<%= data[:domain] %>:vocabularies:name(dateera):item:name(ce)'CE'</dateEarliestSingleEra>
        <dateLatestEra>urn:cspace:<%= data[:domain] %>:vocabularies:name(dateera):item:name(ce)'CE'</dateLatestEra>
        <dateNote/>
      </objectProductionDateGroup>
    </objectProductionDateGroupList>
    <objectProductionPlaceGroupList>
      <objectProductionPlaceGroup>
        <objectProductionPlace><%= data[:prod_place] %></objectProductionPlace>
        <objectProductionPlaceRole/>
      </objectProductionPlaceGroup>
    </objectProductionPlaceGroupList>
    <objectProductionPersonGroupList>
<% unless data[:creator1_id].empty? or data[:creator1_name].empty? %>
      <objectProductionPersonGroup>
        <objectProductionPersonRole><%= data[:creator1_role] %></objectProductionPersonRole>
        <objectProductionPerson>urn:cspace:<%= data[:domain] %>:personauthorities:name(person):item:name(<%= data[:creator1_id] %>)'<%= data[:creator1_name] %>'</objectProductionPerson>
      </objectProductionPersonGroup>
<% end %>
<% unless data[:creator2_id].empty? or data[:creator2_name].empty? %>
      <objectProductionPersonGroup>
        <objectProductionPersonRole><%= data[:creator2_role] %></objectProductionPersonRole>
        <objectProductionPerson>urn:cspace:<%= data[:domain] %>:personauthorities:name(person):item:name(<%= data[:creator2_id] %>)'<%= data[:creator2_name] %>'</objectProductionPerson>
      </objectProductionPersonGroup>
<% end %>
    </objectProductionPersonGroupList>
    <objectProductionPeopleGroupList>
      <objectProductionPeopleGroup>
        <objectProductionPeople><%= data[:group1_name] %></objectProductionPeople>
        <objectProductionPeopleRole><%= data[:group1_role] %></objectProductionPeopleRole>
      </objectProductionPeopleGroup>
    </objectProductionPeopleGroupList>
    <ownershipExchangePriceCurrency>urn:cspace:core.collectionspace.org:vocabularies:name(currency):item:name(USD)'US Dollar'</ownershipExchangePriceCurrency>
    <materialGroupList>
<% data[:materials].split(",").map(&:strip).each do |material| %>
      <materialGroup>
        <material><%= material %></material>
      </materialGroup>
<% end %>
    </materialGroupList>
    <measuredPartGroupList>
      <measuredPartGroup>
        <dimensionSummary/>
        <measuredPart><%= data[:measured] %></measuredPart>
        <dimensionSubGroupList>
<% unless data[:height].empty? %>
          <dimensionSubGroup>
            <dimension>height</dimension>
            <measurementUnit><%= data[:height_unit] %></measurementUnit>
            <value><%= data[:height] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:width].empty? %>
          <dimensionSubGroup>
            <dimension>width</dimension>
            <measurementUnit><%= data[:width_unit] %></measurementUnit>
            <value><%= data[:width] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:length].empty? %>
          <dimensionSubGroup>
            <dimension>length</dimension>
            <measurementUnit><%= data[:length_unit] %></measurementUnit>
            <value><%= data[:length] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:volume].empty? %>
          <dimensionSubGroup>
            <dimension>volume</dimension>
            <measurementUnit><%= data[:volume_unit] %></measurementUnit>
            <value><%= data[:volume] %></value>
          </dimensionSubGroup>
<% end %>
        </dimensionSubGroupList>
      </measuredPartGroup>
    </measuredPartGroupList>
    <objectHistoryNote><%= data[:history] %></objectHistoryNote>
    <contentConcepts>
<% unless data[:concept1_id].empty? or data[:concept1_name].empty? %>
      <contentConcept>urn:cspace:cspace.lyrasistechnology.org:conceptauthorities:name(concept):item:name(<%= data[:concept1_id] %>)'<%= data[:concept1_name] %>'</contentConcept>
<% end %>
<% unless data[:concept2_id].empty? or data[:concept2_name].empty? %>
      <contentConcept>urn:cspace:cspace.lyrasistechnology.org:conceptauthorities:name(concept):item:name(<%= data[:concept2_id] %>)'<%= data[:concept2_name] %>'</contentConcept>
<% end %>
    </contentConcepts>
  </ns2:collectionobjects_common>
</document>