<?xml version="1.0" encoding="UTF-8"?>
<document name="collectionobjects">
  <ns2:collectionobjects_common xmlns:ns2="http://collectionspace.org/services/collectionobject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <objectNumber><%= data[:objectNumber] %></objectNumber>
    <otherNumberList>
      <otherNumber>
        <numberValue><%= data[:numberValue] %></numberValue>
        <numberType><%= data[:numberType] %></numberType>
      </otherNumber>
    </otherNumberList>
    <numberOfObjects><%= data[:numberOfObjects] %></numberOfObjects>
    <titleGroupList>
      <titleGroup>
        <title><%= data[:title] %></title>
        <titleType/>
        <titleTranslationSubGroupList>
          <titleTranslationSubGroup>
            <titleTranslationLanguage>urn:cspace:<%= data[:domain] %>:vocabularies:name(languages):item:name(eng)'English'</titleTranslationLanguage>
            <titleTranslation/>
          </titleTranslationSubGroup>
        </titleTranslationSubGroupList>
        <titleLanguage>urn:cspace:<%= data[:domain] %>:vocabularies:name(languages):item:name(eng)'English'</titleLanguage>
      </titleGroup>
    </titleGroupList>
    <editionNumber><%= data[:editionNumber] %></editionNumber>
    <objectNameList>
<% data[:objectNames].split(",").map(&:strip).each do |objectName| %>
      <objectNameGroup>
        <objectName><%= objectName %></objectName>
      </objectNameGroup>
<% end %>
    </objectNameList>
    <briefDescriptions>
      <briefDescription><%= data[:briefDescription] %></briefDescription>
    </briefDescriptions>
    <contentDescription><%= data[:contentDescription] %></contentDescription>
    <physicalDescription><%= data[:physicalDescription] %></physicalDescription>
    <comments>
      <comment><%= data[:comment] %></comment>
    </comments>
    <styles>
<% data[:styles].split(",").map(&:strip).each do |style| %>
      <style><%= style %></style>
<% end %>
    </styles>
    <colors>
<% data[:colors].split(",").map(&:strip).each do |color| %>
      <color><%= color %></color>
<% end %>
    </colors>
    <contentLanguages>
      <contentLanguage>urn:cspace:<%= data[:domain] %>:vocabularies:name(languages):item:name(eng)'English'</contentLanguage>
    </contentLanguages>
    <recordStatus><%= data[:recordStatus] %></recordStatus>
    <objectProductionDateGroupList>
      <objectProductionDateGroup>
        <dateDisplayDate><%= data[:objectProductionDateDisplayDate] %></dateDisplayDate>
        <dateEarliestSingleYear><%= data[:objectProductionDateEarliestSingleYear] %></dateEarliestSingleYear>
        <dateLatestYear><%= data[:objectProductionDateLatestYear] %></dateLatestYear>
        <datePeriod><%= data[:objectProductionDatePeriod] %></datePeriod>
        <dateEarliestSingleEra>urn:cspace:<%= data[:domain] %>:vocabularies:name(dateera):item:name(ce)'CE'</dateEarliestSingleEra>
        <dateLatestEra>urn:cspace:<%= data[:domain] %>:vocabularies:name(dateera):item:name(ce)'CE'</dateLatestEra>
        <dateNote><%= data[:objectProductionDateNote] %></dateNote>
      </objectProductionDateGroup>
    </objectProductionDateGroupList>
    <objectProductionPlaceGroupList>
<% data[:objectProductionPlaces].split(",").map(&:strip).each do |objectProductionPlace| %>
      <objectProductionPlaceGroup>
        <objectProductionPlace><%= objectProductionPlace %></objectProductionPlace>
        <objectProductionPlaceRole/>
      </objectProductionPlaceGroup>
<% end %>
    </objectProductionPlaceGroupList>
    <objectProductionPersonGroupList>
<% unless data[:objectProductionPerson1Id].empty? or data[:objectProductionPerson1].empty? %>
      <objectProductionPersonGroup>
        <objectProductionPersonRole><%= data[:objectProductionPerson1Role] %></objectProductionPersonRole>
        <objectProductionPerson>urn:cspace:<%= data[:domain] %>:personauthorities:name(person):item:name(<%= data[:objectProductionPerson1Id] %>)'<%= data[:objectProductionPerson1] %>'</objectProductionPerson>
      </objectProductionPersonGroup>
<% end %>
<% unless data[:objectProductionPerson2Id].empty? or data[:objectProductionPerson2].empty? %>
      <objectProductionPersonGroup>
        <objectProductionPersonRole><%= data[:objectProductionPerson2Role] %></objectProductionPersonRole>
        <objectProductionPerson>urn:cspace:<%= data[:domain] %>:personauthorities:name(person):item:name(<%= data[:objectProductionPerson2Id] %>)'<%= data[:objectProductionPerson2] %>'</objectProductionPerson>
      </objectProductionPersonGroup>
<% end %>
    </objectProductionPersonGroupList>
    <objectProductionPeopleGroupList>
      <objectProductionPeopleGroup>
        <objectProductionPeople><%= data[:objectProductionPeople1] %></objectProductionPeople>
        <objectProductionPeopleRole><%= data[:objectProductionPeople1Role] %></objectProductionPeopleRole>
      </objectProductionPeopleGroup>
    </objectProductionPeopleGroupList>
    <ownershipExchangePriceCurrency>urn:cspace:<%= data[:domain] %>:vocabularies:name(currency):item:name(USD)'US Dollar'</ownershipExchangePriceCurrency>
    <materialGroupList>
<% data[:materials].split(",").map(&:strip).each do |material| %>
      <materialGroup>
        <material><%= material %></material>
      </materialGroup>
<% end %>
    </materialGroupList>
    <measuredPartGroupList>
      <measuredPartGroup>
        <dimensionSummary/>
        <measuredPart><%= data[:measuredPart] %></measuredPart>
        <dimensionSubGroupList>
<% unless data[:measuredDimensionHeight1].empty? %>
          <dimensionSubGroup>
            <dimension>height</dimension>
            <measurementUnit><%= data[:measuredDimensionHeight1].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionHeight1].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionHeight2].empty? %>
          <dimensionSubGroup>
            <dimension>height</dimension>
            <measurementUnit><%= data[:measuredDimensionHeight2].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionHeight2].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionWidth1].empty? %>
          <dimensionSubGroup>
            <dimension>width</dimension>
            <measurementUnit><%= data[:measuredDimensionWidth1].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionWidth1].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionWidth2].empty? %>
          <dimensionSubGroup>
            <dimension>width</dimension>
            <measurementUnit><%= data[:measuredDimensionWidth2].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionWidth2].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionLength1].empty? %>
          <dimensionSubGroup>
            <dimension>length</dimension>
            <measurementUnit><%= data[:measuredDimensionLength1].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionLength1].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionLength2].empty? %>
          <dimensionSubGroup>
            <dimension>length</dimension>
            <measurementUnit><%= data[:measuredDimensionLength2].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionLength2].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionVolume1].empty? %>
          <dimensionSubGroup>
            <dimension>volume</dimension>
            <measurementUnit><%= data[:measuredDimensionVolume1].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionVolume1].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
<% unless data[:measuredDimensionVolume2].empty? %>
          <dimensionSubGroup>
            <dimension>volume</dimension>
            <measurementUnit><%= data[:measuredDimensionVolume2].split(",")[1] %></measurementUnit>
            <value><%= data[:measuredDimensionVolume2].split(",")[0] %></value>
          </dimensionSubGroup>
<% end %>
        </dimensionSubGroupList>
      </measuredPartGroup>
    </measuredPartGroupList>
    <owners>
<% unless data[:owner].empty? %>
<% if data[:ownerType] =~ /^org/ %>
      <owner>urn:cspace:<%= data[:domain] %>:orgauthorities:name(organization):item:name(<%= data[:ownerId] %>)'<%= data[:owner] %>'</owner>
<% elsif data[:ownerType] =~ /^per/ %>
      <owner>urn:cspace:<%= data[:domain] %>:personauthorities:name(person):item:name(<%= data[:ownerId] %>)'<%= data[:owner] %>'</owner>
<% end %>
<% end %>
    </owners>
    <objectHistoryNote><%= data[:objectHistoryNote] %></objectHistoryNote>
    <textualInscriptionGroupList>
      <textualInscriptionGroup>
        <inscriptionContent><%= data[:textualInscriptionContent] %></inscriptionContent>
      </textualInscriptionGroup>
    </textualInscriptionGroupList>
    <contentConcepts>
<% unless data[:contentConcept1Id].empty? or data[:contentConcept1].empty? %>
      <contentConcept>urn:cspace:<%= data[:domain] %>:conceptauthorities:name(concept):item:name(<%= data[:contentConcept1Id] %>)'<%= data[:contentConcept1] %>'</contentConcept>
<% end %>
<% unless data[:contentConcept2Id].empty? or data[:contentConcept2].empty? %>
      <contentConcept>urn:cspace:<%= data[:domain] %>:conceptauthorities:name(concept):item:name(<%= data[:contentConcept2Id] %>)'<%= data[:contentConcept2] %>'</contentConcept>
<% end %>
    </contentConcepts>
  </ns2:collectionobjects_common>
</document>
